* {
    padding: 0;
    margin: 0;
}

body {
    /*padding-top: 70px;*/
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

.book-cover {
    max-height: 267px;
    margin-left: unset;
    margin-right: unset;
}

#interest_sectl {
    float: left;
    width: 155px;
    margin: 2px 0 0 0;
    padding: 0 0 0 15px;
    border-left: 1px solid #eaeaea;
    color: #9b9b9b;
}

hr {

    width: 100%;
    border-top: 1px solid black;
}

.book-score-hollow {
    display: block;
    width: 80px;
    height: 15px;
    margin-left: 50px;
    margin-top: -38px;
    background: url("../img/star_hollow.png");
    overflow: hidden;
}
.book-score {
    display: block;
    /*width: 80px;*/
    height: 15px;
    margin-left: 50px;
    margin-top: -38px;
    background: url("../img/star.jpg");
    overflow: hidden;
}

.power {
    height: 14px;
    background: #ffd596 none repeat scroll 0 0;
    float: left;
    font-size: 14px;
}

.power-percent {
    margin-left: 3px;
}