<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-theme.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/admin.css}" type="text/css">
    <!--<link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">-->

    <title>管理员</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" th:insert="~{admin_public.html :: public_top}"></nav>

<div class="row">

    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li class="active"><a th:href="@{${T(com.bookrecommend.demo.util.MyUrl).getAdminUserUrl(order,1,10)}}">用户
                <span class="sr-only">(current)</span></a></li>
            <li><a th:href="@{${T(com.bookrecommend.demo.util.MyUrl).getAdminBookUrl(order,1,10)}}">书籍</a></li>
            <li><a href="#">作者</a></li>
            <li><a href="#">评论</a></li>
        </ul>
        <ul class="nav nav-sidebar">
            <li><a href="">类别</a></li>
            <li><a href="">标签</a></li>
        </ul>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="sub-header">用户管理</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th style="width: 2%;">#</th>
                    <th style="width: 4%;">姓名</th>
                    <th style="width: 4%;">邮箱</th>
                    <th style="width: 4%;">手机号码</th>
                    <th style="width: 2%;">年龄</th>
                    <th style="width: 2%;">性别</th>
                    <th style="width: 2%;">头像</th>
                    <th style="width: 8%;">简介</th>
                    <th style="width: 2%;">注册日期</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user:${users}">
                    <td th:text="${user.getId()}"></td>
                    <td th:text="${user.getName()}"></td>
                    <td th:text="${user.getEmail()}"></td>
                    <td th:text="${user.getPhoneNumber()}"></td>
                    <td th:text="${user.getAge()}"></td>
                    <td th:text="${user.getGender()}"></td>
                    <td><a th:href="${user.getPhoto()}">链接</a></td>
                    <td th:text="${user.getIntroduction()}"></td>
                    <td th:text="${user.getRegistrationDate()}"></td>
                </tr>
                </tbody>
            </table>

            <nav aria-label="Page navigation" style="float: right;">
                <ul class="pagination">
                    <li th:if="${currentPage!=1}">
                        <a th:href="@{${T(com.bookrecommend.demo.util.MyUrl).getAdminUserUrl(order,currentPage+-1,10)}}"
                           aria-label="Previous">
                            <span aria-hidden="true">上一页</span>
                        </a>
                    </li>
                    <li th:if="${currentPage==1}">
                        <span aria-hidden="true">上一页</span>
                    </li>

                    <li th:if="${totalPages>0}"
                        th:each="i:${#numbers.sequence(currentPage+-4>0?currentPage+-4:1,currentPage+4<=totalPages?currentPage+4:totalPages)}"
                        th:class="${i == currentPage}? 'active':''">
                        <a th:href="@{${T(com.bookrecommend.demo.util.MyUrl).getAdminUserUrl(order,i,10)}}"
                           th:text="${i}">
                        </a>
                    </li>

                    <li th:if="${currentPage!=totalPages and totalPages>0}">
                        <a th:href="@{${T(com.bookrecommend.demo.util.MyUrl).getAdminUserUrl(order,currentPage+1,10)}}"
                           aria-label="Next">
                            <span aria-hidden="true">下一页</span>
                        </a>
                    </li>

                    <li th:if="${currentPage==totalPages or totalPages==0}">
                        <span aria-hidden="true">下一页</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</div>


<script type="text/javascript" th:src="@{/jquery/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

<!--<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>-->
<!--<script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

</body>
</html>