<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-theme.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/theme.css}" type="text/css">
    <!--<link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">-->

    <title th:text="${book.getNameCn()}+'&nbsp;&nbsp;&nbsp;(藏经阁)'"></title>
</head>
<body>
<div class="container theme-showcase" role="main">
    <!--导航栏-->
    <nav class="navbar navbar-default" th:insert="~{public :: public_top}"></nav>

    <div class="page-header">
        <h1 th:text="${book.getNameCn()}"></h1>
    </div>

    <!--书籍基本信息-->
    <div class="col-sm-6 col-md-5" style="padding-left: 0px; float:left;">
        <div class="thumbnail" style="display: flex">
            <img class="book-cover" th:src="@{/img/cover/{bookId}(bookId=${book.getId().toString()+'.jpg'})}"
                 style="margin: unset;">
            <div class="caption" style="float: right;padding-left: 10px;padding-top: 0px;">
                <h5>作者:<a th:each="author:${book.getAuthors()}" href="#" th:text="${author.getNameCn()}"
                          style="margin-right: 5px"></a></h5>

                <h5>出版社：<span th:text="${book.getPress()}"></span></h5>
                <h5>出版日期：<span th:text="${book.getPublicationDate()}"></span></h5>
                <h5>评分：<span th:text="${book.getScore()}"></span></h5>
                <h5>定价：<span th:text="${book.getPrice()}+'元'"></span></h5>
                <h5>字数：<span th:text="${book.getWordCount()}"></span></h5>
                <h5>类别:<a th:each="label:${book.getLabels()}" href="#" th:text="${label.getLabel()}"
                          style="margin-right: 4px"></a>
                </h5>
            </div>
        </div>
    </div>

    <!--评分-->
    <div style="float: left;width: 300px;margin-left: 6%;margin-top: 1%;padding-left: 20px;font-size: 14px;color: #9b9b9b;border-left: 1px solid #9b9b9b">
        <span>藏金阁评分</span>
        <div class="show-score">
            <strong th:text="${book.getScore()}" style="font-size: 28px;color: #494949;"></strong>
        </div>

        <!--<div class="book-score-hollow"></div>-->
        <div class="book-score" th:style="'width: '+${book.score*7}+'px;'"></div>
        <div th:text="${scoreNumber}+'人评价'" style="padding-left: 50px;"></div>

        <div class="power-list">
            <span style="float: left;margin-right: 5px;">5星</span>
            <div class="power" th:style="'width: '+${fiveStarPercent}+'px;'"></div>
            <span class="power-percent" th:text="${fiveStarPercent}+'%'"></span>
            <br>
        </div>

        <div>
            <span style="float: left;margin-right: 5px;">4星</span>
            <div class="power" th:style="'width: '+${fourStarPercent}+'px;'">
            </div>
            <span class="power-percent" th:text="${fourStarPercent}+'%'"></span>
            <br>
        </div>

        <div>
            <span style="float: left;margin-right: 5px;">3星</span>
            <div class="power" th:style="'width: '+${threeStarPercent}+'px;'"></div>
            <span class="power-percent" th:text="${threeStarPercent}+'%'"></span>
            <br>
        </div>

        <div>
            <span style="float: left;margin-right: 5px;">2星</span>
            <div class="power" th:style="'width: '+${towStarPercent}+'px;'"></div>
            <span class="power-percent" th:text="${towStarPercent}+'%'"></span>
            <br>
        </div>

        <div>
            <span style="float: left;margin-right: 5px;">1星</span>
            <div class="power" th:style="'width: '+${oneStarPercent}+'px;'"></div>
            <span class="power-percent" th:text="${oneStarPercent}+'%'"></span>
            <br>
        </div>


    </div>


    <!--收藏、想读、在读、已读标签-->
    <div class="page-header" style="clear: left;">
        <a class="btn btn-default btn-sm" style="float: left;margin-right: 7px;: 7px;display: block;">
            <span class="glyphicon" th:classappend="${isCollected}?'glyphicon-star':'glyphicon-star-empty'"
                  aria-hidden="true"></span> 收藏
        </a>
        <a class="btn btn-default btn-sm" style="float: left;margin-right: 7px;display: block;">
            <span class="glyphicon" th:classappend="${isWant}?'glyphicon-star':'glyphicon-star-empty'"
                  aria-hidden="true"></span> 想读
        </a>
        <a class="btn btn-default btn-sm" style="float: left;margin-right: 7px;display: block;">
            <span class="glyphicon" th:classappend="${isReading}?'glyphicon-star':'glyphicon-star-empty'"
                  aria-hidden="true"></span> 在读
        </a>
        <a class="btn btn-default btn-sm" style="float: left;margin-right: 7px;display: block;">
            <span class="glyphicon" th:classappend="${isHaveRead}?'glyphicon-star':'glyphicon-star-empty'"
                  aria-hidden="true"></span> 已读
        </a>
        <a class="btn btn-default btn-sm" style="float: left;margin-right: 7px;display: block;">
            <span class="glyphicon"
                  th:classappend="${inShopingCart}?'glyphicon-shopping-cart-star':'glyphicon-shopping-cart-star-empty'"
                  th:text="${inShopingCart}?'已加入购物车':'加入购物车'" aria-hidden="true"></span>
        </a>

        <div style="float: left; margin-top: 6px;">
            评价:
        </div>
    </div>

    <!--内容介绍-->
    <div style="margin-top: 50px;">
        <h3 style="color: #007722;">
            <span>内容简介</span>
            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
        </h3>

        <span th:text="${book.getIntroduction()}"></span>
    </div>


    <!--作者介绍-->
    <div style="margin-top: 50px;">
        <h3 style="color: #007722;">
            <span>作者介绍</span>
            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
        </h3>
        <div th:each="author:${book.getAuthors()}">
            <span th:text="${author.getNameCn()}+': '" style="font-size: 25px;"></span>
            <span th:text="${author.getIntroduction()}"></span>
            <br>
            <br>
        </div>
    </div>

    <!--目录-->
    <div style="margin-top: 50px;">
        <h3 style="color: #007722;">
            <span>目录</span>
            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
        </h3>

        <span th:text="${book.getCatalog()}" style="white-space:pre-wrap;padding-left: 2px;"></span>
    </div>


    <!--书评-->
    <a name="comments"></a>
    <div style="margin-top: 50px;">
        <h3 style="color: #007722; float: left;">
            <span th:text="${book.getNameCn()}+'的书评'"></span>
            &nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·&nbsp;·
        </h3>
        <div style="float: left;margin: 23px auto;">
            <span>（<a href="#" th:text="'全部&nbsp;'+${commentsNumber}+'&nbsp;条'"></a>）</span>
        </div>
    </div>

    <div style="padding-top: 66px;" th:if="${commentOrderType.equals('date')}">
        <a th:href="@{'/book?book_id='+${book.getId()}+'&comment_order_type=hot&offset=1&limit=5#comments'}">热门</a>
        /
        <span>最新</span>
    </div>

    <div style="padding-top: 66px;" th:if="${commentOrderType.equals('hot')}">
        <span>热门</span>
        /
        <a th:href="@{'/book?book_id='+${book.getId()}+'&comment_order_type=date&offset=1&limit=5#comments'}">最新</a>
    </div>

    <div th:each="c:${comments}" class="comments-list" style="margin-top: 20px">
        <hr>
        <div>
            <header>
                <a href="#">
                    <img width="24" height="24" th:src="${c.getUserPhoto()}">
                </a>
                <a href="#" th:text="${c.getUserName()}"></a>
                <span th:text="${c.getScore()}"></span>
                <span th:text="${c.getDate()}"></span>
                <a href="$" style="float: right;margin-left: 3px;">有用</a>
                <span th:text="${c.getHot()}" style="float: right;"></span>

            </header>

            <div style="margin-top: 20px">
                <span th:text="${c.getComment()}"></span>
            </div>


        </div>
    </div>

    <nav aria-label="Page navigation">
        <ul th:each="i:${#numbers.sequence(1,totalPages)}" class="pagination">
            <li th:if="${i == 1 and i != currentPage}">
                <a th:href="@{'/book?book_id='+${book.getId()}+'&comment_order_type='+${commentOrderType}+'&offset='+${currentPage+-1}+'&limit=5#comments'}"
                   aria-label="Previous">
                    <span aria-hidden="true">上一页</span>
                </a>
            </li>
            <li th:if="${i == 1 and i == currentPage}">
                <span aria-hidden="true">上一页</span>
            </li>


            <li th:class="${i == currentPage}? 'active':''">
                <a th:href="@{'/book?book_id='+${book.getId()}+'&comment_order_type='+${commentOrderType}+'&offset='+${i}+'&limit=5#comments'}"
                   th:text="${i}"></a></li>

            <li th:if="${i == totalPages and i != currentPage}">
                <a th:href="@{'/book?book_id='+${book.getId()}+'&comment_order_type='+${commentOrderType}+'&offset='+${currentPage+1}+'&limit=5#comments'}"
                   aria-label="Next">
                    <span aria-hidden="true">下一页</span>
                </a>
            </li>

            <li th:if="${i == totalPages and i == currentPage}">
                <span aria-hidden="true">下一页</span>
            </li>
        </ul>
    </nav>
</div>


<script type="text/javascript" th:src="@{/jquery/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<!--<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>-->
<!--<script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

</body>
</html>