<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-theme.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/theme.css}" type="text/css">
    <!--<link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">-->
    <title></title>
</head>
<body>
<div class="container theme-showcase" role="main">
    <input type="hidden" id="collected-status" th:value="${collectedStatus}">
    <!--导航栏-->
    <nav class="navbar navbar-default" th:insert="~{public :: public_top}"></nav>

    <!--用户菜单-->
    <div th:insert="~{public :: public_user_menu}"></div>

    <div style="margin-top: 20px;margin-left: 50px;">
        <span style="float: right;margin-right: 10px;" th:text="${'共 '+booksNum+' 条记录'}"></span>
        <a th:styleappend="${bookOrderType=='date'}?'color:red;':''"
           th:href="@{${T(com.bookrecommend.demo.util.MyUrl).getUserCollectionUrl(collectedStatus,'date',1,10)}}">按时间排序</a>
        /
        <a th:styleappend="${bookOrderType=='score'}?'color:red;':''"
           th:href="@{${T(com.bookrecommend.demo.util.MyUrl).getUserCollectionUrl(collectedStatus,'score',1,10)}}">按评分排序</a>
        /
        <a th:styleappend="${bookOrderType=='wantNum'}?'color:red;':''"
           th:href="@{${T(com.bookrecommend.demo.util.MyUrl).getUserCollectionUrl(collectedStatus,'wantNum',1,10)}}">按想看人数排序</a>
    </div>

    <div style="margin-top: 24px;margin-left: 14px">

        <div class="collected-book" th:each="book:${books}">
            <div class="media-left">
                <a th:href="@{${T(com.bookrecommend.demo.util.MyUrl).getBookUrl(book.getId(),'date',1,5)}}">
                    <img class="media-object book-cover-img"
                         th:src="@{/img/cover/{bookId}(bookId=${book.getId().toString()+'.jpg'})}">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading" th:text="${book.getNameCn()}"></h4>
                <p th:text="${book.getAuthorsName()+' / '+book.getPress()+' / '+book.getPublicationDate()+' / '+book.getPrice()+'元'}"></p>
                <p th:text="${'评分:'+book.getScore()+' / '+'字数:'+book.getWordCount()}+'字'"></p>
                <div class="short-note">
                    <span th:text="${book.getDate()+' 想读'}"></span>
                    <div>
                        <a href="#">修改</a>
                        <a href="javascript:void(0);" onclick="delete_collection(this)" th:id="${book.getId()}">删除</a>
                    </div>
                </div>
                <div th:if="${book.isExistInShopingCart()}">
                    <span>已在购物车中</span>
                    <a href="#">删除</a>
                </div>
                <div th:unless="${book.isExistInShopingCart()}">
                    <a href="">加入购物车</a>
                </div>


            </div>
        </div>
    </div>

    <div style="width: 100%; float: left" ;>
        <nav aria-label="Page navigation" style="float: right;">
            <ul th:each="i:${#numbers.sequence(1,totalPages)}" class="pagination">
                <li th:if="${i == 1 and i != currentPage}">
                    <a th:href="@{${T(com.bookrecommend.demo.util.MyUrl).getUserCollectionUrl(collectedStatus,bookOrderType,currentPage+-1,10)}}"
                       aria-label="Previous">
                        <span aria-hidden="true">上一页</span>
                    </a>

                </li>
                <li th:if="${i == 1 and i == currentPage}">
                    <span aria-hidden="true">上一页</span>
                </li>


                <li th:class="${i == currentPage}? 'active':''">
                    <a th:href="@{${T(com.bookrecommend.demo.util.MyUrl).getUserCollectionUrl(collectedStatus,bookOrderType,i,10)}}"
                       th:text="${i}"></a></li>

                <li th:if="${i == totalPages and i != currentPage}">
                    <a th:href="@{${T(com.bookrecommend.demo.util.MyUrl).getUserCollectionUrl(collectedStatus,bookOrderType,currentPage+1,10)}}"
                       aria-label="Next">
                        <span aria-hidden="true">下一页</span>
                    </a>
                </li>

                <li th:if="${i == totalPages and i == currentPage}">
                    <span aria-hidden="true">下一页</span>
                </li>
            </ul>
        </nav>
    </div>

</div>


<script type="text/javascript" th:src="@{/jquery/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/search.js}"></script>
<script type="text/javascript" th:src="@{/js/collection.js}"></script>
<!--<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>-->
<!--<script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</body>
</html>