<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-theme.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/theme.css}" type="text/css">
    <!--<link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">-->

    <title>藏经阁</title>
</head>
<body>

<div class="container theme-showcase" role="main">

    <!--导航栏-->
    <nav class="navbar navbar-default" th:insert="~{public :: public_top}"></nav>

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>

        </ol>
        <div class="carousel-inner" role="listbox">

            <div th:each="b,bStat:${top5Books}" th:classappend="${bStat.index == 0} ? 'item active' : 'item'">
                <a th:href="@{'/book?book_id='+${b.getId()}+'&comment_order_type=date&offset=1&limit=5'}">
                    <img th:src="${b.getBigPicture()}" width="1140" height="350">
                </a>

            </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="page-header">
        <h1><a href="#"></a>个性推荐</h1>
    </div>

    <!--个性推荐-->
    <div class="bs-example" data-example-id="thumbnails-with-custom-content">
        <div class="row">
            <div th:each="b:${recommendBooks}" class="col-sm-6 col-md-4" style="width: 20%;">
                <div class="thumbnail">
                    <a th:href="@{'/book?book_id='+${b.getId()}}+'&comment_order_type=date&offset=1&limit=5'">
                        <img class="book-cover" th:src="@{/img/cover/{bookId}(bookId=${b.getId().toString()+'.jpg'})}">
                    </a>
                    <div class="caption">
                        <h3><a th:href="@{'/book?book_id='+${b.getId()}}+'&comment_order_type=date&offset=1&limit=5'"
                               style="font-size: 15px;"
                               th:text="${b.getNameCn()}"></a></h3>
                        <p th:text="${b.getAuthorsName()}"></p>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="page-header">
        <h1><a href="#"></a>热门书籍</h1>
    </div>

    <!--热门书籍-->
    <div class="bs-example" data-example-id="thumbnails-with-custom-content">
        <div class="row">
            <div th:each="b:${hotBooks}" class="col-sm-6 col-md-4" style="width: 33%;">
                <div class="thumbnail" style="display: flex">
                    <a th:href="@{'/book?book_id='+${b.getId()}}+'&comment_order_type=date&offset=1&limit=5'">
                        <img class="book-cover" th:src="@{/img/cover/{bookId}(bookId=${b.getId().toString()+'.jpg'})}"
                             style="margin: unset; max-width: unset">
                    </a>

                    <div class="caption" style="float: right;padding-left: 10px;padding-top: 0px;">
                        <h5>书名：<a th:href="@{'/book?book_id='+${b.getId()}}+'&comment_order_type=date&offset=1&limit=5'"
                                  th:text="${b.getNameCn()}"></a></h5>
                        <h5>作者：<span th:text="${b.getAuthorsName()}"></span></h5>
                        <h5>评分：<span th:text="${b.getScore()}"></span></h5>
                        <h5>字数：<span th:text="${b.getWordCount()}"></span></h5>
                        <h5>类别:<a th:each="label:${b.getLabels()}" href="#" th:text="${label.getLabel()}"
                                  style="margin-right: 5px"></a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


<script type="text/javascript" th:src="@{/jquery/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<!--<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>-->
<!--<script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

</body>
</html>