<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-theme.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/theme.css}" type="text/css">
    <!--<link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">-->
    <title>书库&nbsp;&nbsp;&nbsp;(藏经阁)</title>
</head>
<body>
<div class="container theme-showcase" role="main">
    <!--导航栏-->
    <nav class="navbar navbar-default" th:insert="~{public :: public_top}"></nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar" style="margin-top: 28px;">
                <div class="category-list">
                    <h4 style="color: #007722;">已选</h4>
                    <ul class="category">
                        <li th:if="${kindId>0}">
                            <a th:href="@{${T(com.bookrecommend.demo.util.MyUrl).getLibraryUrl(bookOrderType,1,10,0,labelId,keyword)}}">
                                <span th:text="${kindName}"></span>
                                <span style="margin-left: -4px;" class="glyphicon glyphicon-remove"></span>
                            </a>
                        </li>

                        <li th:if="${labelId>0}">
                            <a th:href="@{${T(com.bookrecommend.demo.util.MyUrl).getLibraryUrl(bookOrderType,1,10,kindId,0,keyword)}}">
                                <span th:text="${labelName}"></span>
                                <span style="margin-left: -4px;" class="glyphicon glyphicon-remove"></span>
                            </a>
                        </li>


                        <li th:if="${kindId<=0 && labelId<=0}">
                            <span>全选</span>
                        </li>

                    </ul>

                </div>
                <div class="category-list">
                    <h4 style="color: #007722;">分类</h4>
                    <ul class="category">
                        <li th:each="kind:${kinds}">
                            <a th:href="@{${T(com.bookrecommend.demo.util.MyUrl).getLibraryUrl(bookOrderType,1,10,kind.getId(),labelId,keyword)}}"
                               th:text="${kind.getKind()}"></a>
                        </li>
                    </ul>
                </div>
                <div class="category-list">
                    <h4 style="color: #007722;">标签</h4>
                    <ul class="category">
                        <li th:each="label:${labels}">
                            <a th:href="@{${T(com.bookrecommend.demo.util.MyUrl).getLibraryUrl(bookOrderType,1,10,kindId,label.getId(),keyword)}}"
                               th:text="${label.getLabel()}"></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-9 col-md-8 main" style="width: 83%">
                <div class="select-wrap">
                    <div style="padding-top: 13px;">
                        <span style="float: right;margin-right: 10px;" th:text="${'共 '+booksNumber+' 条记录'}"></span>
                        <a th:href="@{${T(com.bookrecommend.demo.util.MyUrl).getLibraryUrl('hot',1,10,kindId,labelId,keyword)}}">热门</a>
                        /
                        <a th:href="@{${T(com.bookrecommend.demo.util.MyUrl).getLibraryUrl('collectionNum',1,10,kindId,labelId,keyword)}}">总收藏</a>
                        /
                        <a th:href="@{${T(com.bookrecommend.demo.util.MyUrl).getLibraryUrl('wantNum',1,10,kindId,labelId,keyword)}}">总想看</a>
                        /
                        <a th:href="@{${T(com.bookrecommend.demo.util.MyUrl).getLibraryUrl('haveReadNum',1,10,kindId,labelId,keyword)}}">总看过</a>
                        /
                        <a th:href="@{${T(com.bookrecommend.demo.util.MyUrl).getLibraryUrl('readingNum',1,10,kindId,labelId,keyword)}}">总在看</a>
                    </div>
                </div>


                <div style="margin-top: 24px;margin-left: 14px">

                    <div class="media-book" th:each="book:${books}">
                        <div class="media-left">
                            <a th:href="@{${T(com.bookrecommend.demo.util.MyUrl).getBookUrl(book.getId(),'date',1,5)}}">
                                <img class="media-object book-cover-img"
                                     th:src="@{/img/cover/{bookId}(bookId=${book.getId().toString()+'.jpg'})}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading" th:text="${book.getNameCn()}"></h4>
                            <p th:text="${book.getAuthorsName()+'/'+book.kindToString()}"></p>
                            <!--<p th:text="${book.getScore()}"></p>-->
                            <p class="book-introduction" th:text="${book.getIntroduction()}"></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <nav aria-label="Page navigation" style="float: right;">
        <ul th:each="i:${#numbers.sequence(1,totalPages)}" class="pagination">
            <li th:if="${i == 1 and i != currentPage}">
                <a th:href="@{${T(com.bookrecommend.demo.util.MyUrl).getLibraryUrl(bookOrderType,currentPage+-1,10,kindId,labelId,keyword)}}"
                   aria-label="Previous">
                    <span aria-hidden="true">上一页</span>
                </a>
            </li>
            <li th:if="${i == 1 and i == currentPage}">
                <span aria-hidden="true">上一页</span>
            </li>


            <li th:class="${i == currentPage}? 'active':''">
                <a th:href="@{${T(com.bookrecommend.demo.util.MyUrl).getLibraryUrl(bookOrderType,i,10,kindId,labelId,keyword)}}"
                   th:text="${i}"></a></li>

            <li th:if="${i == totalPages and i != currentPage}">
                <a th:href="@{${T(com.bookrecommend.demo.util.MyUrl).getLibraryUrl(bookOrderType,currentPage+1,10,kindId,labelId,keyword)}}"
                   aria-label="Next">
                    <span aria-hidden="true">下一页</span>
                </a>
            </li>

            <li th:if="${i == totalPages and i == currentPage}">
                <span aria-hidden="true">下一页</span>
            </li>
        </ul>
    </nav>


</div>


<script type="text/javascript" th:src="@{/jquery/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/search.js}"></script>
<!--<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>-->
<!--<script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</body>
</html>